* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

#main-container {
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%; }

.header-container {
  position: absolute;
  width: 100%;
  z-index: 10; }

.header-box {
  background-color: white;
  height: 75px;
  margin: 20px auto;
  padding: 20px 30px;
  width: 90%; }

.header-left-box {
  float: left;
  width: 50%;
  line-height: 2.5; }

.header-right-box {
  float: right;
  width: 50%;
  line-height: 2.5;
  font-size: 15px;
  font-weight: 200;
  text-align: right; }
  .header-right-box a {
    color: black; }
  .header-right-box a:hover {
    color: rgba(226, 0, 50, 0.5); }
  .header-right-box a:link {
    text-decoration: none; }
  .header-right-box #lang-link, .header-right-box #search-link {
    color: #a7a7a7; }
  .header-right-box #lang-link:hover, .header-right-box #search-link:hover {
    color: rgba(226, 0, 50, 0.5); }
  .header-right-box #hot-link span, .header-right-box #menu-link span {
    color: #dc0032; }
  .header-right-box #hot-link {
    margin-right: 50px; }
  .header-right-box #search-link, .header-right-box #lang-link, .header-right-box #menu-link {
    padding: 0 5px 0 5px; }
  .header-right-box #menu-link span:hover {
    color: rgba(226, 0, 50, 0.5); }

.main-logo {
  height: 25px; }

.home-container {
  width: 100%;
  z-index: 0; }

.home-box {
  background-image: url("http://www.hdwallpapers.in/walls/2014_porsche_911_turbo_by_techart-wide.jpg");
  background-position: center;
  background-size: cover;
  margin: 0 auto; }

.img-box {
  margin: 10px auto;
  max-width: 50%; }

.diagonal-box {
  margin: 0 auto;
  width: 60vw;
  height: 1000px;
  background: -webkit-linear-gradient(bottom left, rgba(255, 255, 0, 0.4), rgba(255, 200, 50, 0.4));
  background: linear-gradient(to top right, rgba(255, 255, 0, 0.4), rgba(255, 200, 50, 0.4));
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  overflow: hidden; }

.porsche-logo-box {
  -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
          transform: skew(20deg);
  position: relative;
  top: 20%;
  left: 5%; }
  .porsche-logo-box img {
    max-width: 800px; }

.porsche-logo-img {
  width: 80%; }

.porsche-logo-text {
  color: white;
  font-weight: lighter;
  font-size: 2em; }

.crew-box {
  padding: 50px 0;
  margin: 0 auto;
  background: -webkit-linear-gradient(right, white, #c8c8c8);
  background: linear-gradient(to left, white, #c8c8c8); }

.crew-table {
  margin: 0 auto;
  width: 80%; }

.table-column {
  padding: 10px; }

.title-box {
  margin: 30px auto;
  width: 90%;
  text-align: center; }
  .title-box .title--crew {
    padding: 10px 0 20px 0; }

.back-to-top {
  width: 50px;
  position: fixed;
  bottom: 60px;
  right: 3.5%;
  opacity: 0.7;
  -webkit-animation: backToTop 0.5s infinite;
          animation: backToTop 0.5s infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused; }

.back-to-top:hover {
  opacity: 1;
  -webkit-animation-play-state: running;
          animation-play-state: running; }

@-webkit-keyframes backToTop {
  0% {
    bottom: 50px; }
  50% {
    bottom: 60px; }
  100% {
    bottom: 50px; } }

@keyframes backToTop {
  0% {
    bottom: 50px; }
  50% {
    bottom: 60px; }
  100% {
    bottom: 50px; } }

.back-to-top-img {
  width: 50px; }

.take-over {
  width: 100%;
  position: fixed; }

.take-over-box {
  position: relative;
  background-color: rgba(220, 0, 50, 0.9);
  text-align: center;
  height: 100vh;
  margin: 0 auto;
  color: white; }

.center-box {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .center-box li {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 30px; }
  .center-box li:hover {
    background-color: #333; }
  .center-box li a {
    color: white;
    font-weight: 500; }
  .center-box a:link {
    text-decoration: none; }

.exit-link {
  position: absolute;
  font-size: 30px;
  font-weight: lighter;
  color: white; }

.exit-link:hover {
  color: #333; }

.search-container {
  width: 70%;
  height: 75px;
  margin: 0 auto;
  border-bottom: 1px solid white;
  position: relative; }
  .search-container .input-box {
    float: left;
    width: 80%;
    bottom: 0;
    position: absolute; }
    .search-container .input-box input {
      background: none;
      border: none;
      outline: none;
      width: 100%;
      font-size: 50px;
      font-weight: 100;
      padding: 0 20px 0 20px; }
  .search-container .search-box {
    float: right;
    width: 20%;
    position: absolute;
    right: 0;
    bottom: 15px; }
    .search-container .search-box .search-btn {
      background: none;
      border: 2.5px solid white;
      outline: none;
      width: 100%;
      font-size: 2em;
      font-weight: 100;
      font-style: italic; }
  .search-container .search-box:hover {
    color: #dc0032;
    background: white; }

@media (max-width: 992px) {
  .home-box {
    border-bottom: 5px solid orange; }
  .diagonal-box {
    height: 580px; } }

@media (max-width: 768px) {
  .home-box {
    border-bottom: 5px solid red; }
  .diagonal-box {
    height: 450px; }
  .porsche-logo-box {
    position: relative;
    top: 30%;
    left: 15%; }
  .header-right-box #hot-link {
    margin-right: 20px; }
  .header-right-box #search-link, .header-right-box #lang-link, .header-right-box #menu-link {
    padding: 0 3px 0 3px; } }

@media (max-width: 480px) {
  .home-box {
    border-bottom: 5px solid green; }
  .diagonal-box {
    height: 360px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    width: 100%; }
  .porsche-logo-box {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    position: relative;
    top: 40%;
    left: 10%; } }
