*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#main-container {
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
}

// HEADER ELEMENTS
.header-container{
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header-box {
  background-color: white;
  height: 75px;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
}

.header-left-box {
  float: left;
  width: 50%;
  line-height: 2.5;
}

.header-right-box {
  float: right;
  width: 50%;
  line-height: 2.5;
  font-size: 15px;
  font-weight: 200;
  span {
    color: red;
  }
  a{
    color: black;
  }
  a:link {
    text-decoration: none;
  }
}

.main-logo {
  height: 25px;
}

// MAIN CONTENT
.home-container {
  width: 100%;
  z-index: 0;
}

// - First Box (Main)
.home-box {
  background-image: url("http://www.hdwallpapers.in/walls/2014_porsche_911_turbo_by_techart-wide.jpg");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.img-box {
  margin: 10px auto;
  max-width: 50%;
}

// -- Diagonal with logo and text
.diagonal-box {
  margin: 0 auto;
  width: 60vw;
  height: 1000px;
  background: linear-gradient(to top right, rgba(255, 255, 0, 0.4), rgba(255, 200, 50, 0.4));
  transform: skew(-20deg);
  overflow: hidden;
}

.porsche-logo-box {
  transform: skew(20deg);
  position: relative;
  top: 20%;
  left: 5%;

  img {
      max-width: 800px;
  }
}

.porsche-logo-img {
  width: 80%;
}

.porsche-logo-text {
  color: white;
  font-weight: lighter;
  font-size: 2em;
}

// - Second Box (Crew)
.crew-box {
  padding: 50px 0;
  margin: 0 auto;
  background: linear-gradient(to left, rgb(255, 255, 255), rgb(200, 200, 200));
}

.crew-table {
  margin: 0 auto;
  width: 80%;
}

.table-column{
  padding: 10px;
}

// -- Titles
.title-box {
  margin: 30px auto;
  width: 90%;
  text-align: center;

  .title--crew{
    padding: 10px 0 20px 0;
  }
}

// -- Extras
.back-to-top {
  width: 50px;
  position: fixed;
  bottom: 60px;
  right: 3.5%;
  opacity: 0.7;
  animation: backToTop 0.5s infinite;
  animation-play-state: paused;
}

.back-to-top:hover {
  opacity: 1;
  animation-play-state: running;
}

@keyframes backToTop {
  0% {
    bottom: 50px;
  }
  50% {
    bottom: 60px;
  }
  100% {
    bottom: 50px;
  }
}

.back-to-top-img {
  width: 50px;
}

//WHAT'S HOT
#whats-hot-container {
  width: 100%;
  position: fixed;
}

//What's hot Header
.whats-hot-header {
  background-color: white;
  padding: 20px 10px;
  position: relative;
  font-size: 40px;
  vertical-align: middle;
  font-weight: 100;

}

//What's hot Content
.whats-hot-box {
  position: relative;
  background-color: rgba(220, 0, 50, 0.90);
  text-align: center;
  height: 100vh;
  padding-top: 130px;
  margin: 0 auto;
  color: white;
}

.center-hot-box {
  position: absolute;
  width: 100%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  li{
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 30px;
  }
  li:hover{
    background-color: black;
  }
  li a{
    color: white;
    font-weight: bold;
  }
  a{
    color: blue;
    font-weight: bold;
  }
  a:link{
    text-decoration: none;
  }
}

@media (max-width: 992px ) {
  .home-box {
    border-bottom: 5px solid orange;
  }

  .diagonal-box {
    height: 580px;
  }
}

@media (max-width: 768px ) {
  .home-box {
    border-bottom: 5px solid red;
  }
  .diagonal-box {
    height: 450px;
  }
  .porsche-logo-box {
    position: relative;
    top: 30%;
    left: 15%;
  }


  @media (max-width: 480px ) {
    .home-box {
      border-bottom: 5px solid green;
    }

    .diagonal-box {
      height: 360px;
      transform: none;
      width: 100%;
    }

    .porsche-logo-box {
      transform: none;
      position: relative;
      top: 40%;
      left: 10%;
    }
  }
}