*{
  margin: 0;
  padding: 0;
}

h1.xumak-style {
  font-family: 'Raleway',sans-serif;
  font-size: 62px;
  font-weight: bold;
}

.main-container {
  z-index: 1000;
}

.header-box {
  width: 90%;
  padding: 10px 20px;
  margin: 30px auto;
  background-color: white;
  color: black;

  .left-box {
    width: 50%;
    float: left;
    padding: 5px;

    img.logo {
      width: 200px;
      height: 40px;
      box-shadow: none;
    }
  }

  .right-box {
    width: 50%;
    float: right;
    padding-top: 10px;

    .hot-link {
      color: black;
      font-size: 20px;
    }
  }
}

.home-container {
  width: 100%;
  position: absolute;
  z-index: 20;

  .home-box {
    background: linear-gradient(to right, rgb(0, 150, 50), rgb(0, 200, 100));
    width: 100%;
    margin: 0 auto;
    padding-top: 130px;

    .img-box {
      margin: 10px auto;
      max-width: 80%;
    }

    .main-box {
      padding: 10px 20px;
      margin: 20px auto;
      width: 80%;
      text-align: justify;
    }

    .scroll-down {
      width: 75px;
      margin: 0 auto;

      .img-container {
        margin: 0 auto;
        padding-bottom: 20px;
      }
    }
  }

  .crew-box {
    padding: 50px 0;
    margin: 0 auto;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(200, 200, 200));

    .crew-table {
      margin: 0 auto;
      width: 80%;

      .table-column{
        padding: 10px;
      }
    }
  }
}

.whats-hot-container{
  width: 100%;
  z-index: 10;
  background-color: rgba(219, 0, 50, 0.75);
  position: fixed;

  .whats-hot-header{
    background-color: white;
    padding: 20px 10px;
    position: relative;

    .hot-header-menu{
      font-size: x-large;
      vertical-align: middle;
    }

    a.exit-link {
      position: absolute;
      color: black;
      font-weight: bold;
    }
  }

  .whats-hot-box{
    height: 100vh;
    padding-top: 130px;
    margin: 0 auto;
    color: white;
    text-align: center;
    position: relative;

    .center-hot-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-40%, -50%);
    }

    img.example {
      margin: 0 auto;
      max-width: 80%;
      box-shadow: black 1px 1px 10px;
    }

  }

}


//Title's Class
.title-box {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  color: transparent;

  .title--home{

  }

  .title--crew{
    padding: 10px 0 20px 0;
  }
}


.center-image{
  margin: 0 auto;
}

//Z-INDEX:
// Header = 30
// Home = 20
// Whats-Hot = 10